:root{
    --primaryColor: hsl(215, 51%, 70%);
    --secondaryColor: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --lineColor:hsl(215, 32%, 27%);
    --white:hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Outfit', sans-serif;
   
}
body{
    background: var(--mainBG);

}
.container{
   width: 300px;
   height: 500px;
   margin:20px auto;
 padding: 20px;
   background: var(--cardBG);
   border-radius: 15px;
}
.equi-img{
width: 100%;
}
.equi-img img{
    width: 100%;
    border-radius: 10px;
}

#equi{
margin: 15px 0 15px 0;
font-size: 16px;
}
#para{
    color: var(--primaryColor);
    font-size: 14px;
line-height: 18px;
}
#flex-div{
    display: flex;
    justify-content: space-between;
    margin:20px 0 20px 0;
}
.partition{
    display: flex;

  margin-top: 6px;
}
#price{
font-size: 14px;
font-weight: 500;
word-spacing: -2px;

display: inline-block;
color: var(--secondaryColor);
}

#days{
  color: var(--primaryColor); 
font-size: 12px;
display: inline-block;




}
#time{
  
  display: inline-block;
background: #000;
width: 14px;
}
.imgCard{
   

 margin: 0 5px 0 0;

}
hr{
    color: var(--lineColor);
}
.last-wahala{
margin-top: 12px;
display: flex;

}
.last-wahala img{
   
    border: 1px solid white;
    border-radius: 50%;
    width: 32px;
    display: inline-block;
    margin-right: 14px;
}
.last-wahala p{
   
   padding-top: 7px;
   font-size: 14px;
   color: var(--primaryColor);
   word-spacing: 2px;
}
.attribution { font-size: 11px; text-align: center; 
position: absolute;
bottom: 0;
right: 0;
left: 0;}
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:375px) {
.container{
    width: 260px;
   height: 400px;
}
}
@media screen and (min-width:1440px) {
    .container{width: 400px;}
}